extends layout.pug

block content
  h1: pre Pc Is Locked: #{locked}

  form(method='POST')
      input(name='action' type='hidden' value='locknow')
      input(type='submit' value='Lock')
  form(method='POST')
      input(name='action' type='hidden' value='unlocknow')
      input(type='submit' value='Unlock')