doctype
html
    head
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title net-lock20
    body
        #app
            block content

        include:cssmin ../../node_modules/normalize.css/normalize.css
        style.
            #app {
                padding: .3rem;
            }
